// Variables
// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$text-color: #343a40;
$light-text-color: #fff;
$dark-bg: #212529;

// Fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Montserrat', sans-serif;